.content {
  background-color: #2c2f33;
  height: 85vh;
  flex-grow: 1;
}

.content table {
  text-align: left;
  width: 93%;
  border-collapse: collapse;
  color: white;
  margin-left: 30px;
}

.content th {
  padding: 25px 10px;
  font-size: 20px;
  color: #99aab5;
}

.content td {
  padding: 25px 10px;
}

.content td:hover {
  color: #99aab5;
}

.content tbody > tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
