.dropdown > .drop-inner > button {
  background: none;
  border: none;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  outline: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.10s;
}

.dropdown > .drop-inner > button > p {
  font-size: 25px;
  margin-top: -14px;
  font-weight: 300;
}

.dropdown > .drop-inner > button:hover {
  border: 2px solid #7289da;
  transition: 0.10s;
  cursor: pointer;
}

.dropdown > .drop-inner > button:focus {
  border: 2px solid #7289da;
  color: #7289da;
  transition: 0.10s;
}

.drop-inner {
  position: relative;
}

.dropdown-menu {
  min-width: 75px;
  max-width: 75px;
  background-color: #23272a;
  border: 1px solid #7289da;
  border-radius: 5px;
  transition: 0.10s;
  margin-top: 2px;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-menu > button {
  background: none;
  border: none;
  color: white;
  padding: 2px 4px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.dropdown-menu > button:hover {
  color: #99aab5;
  cursor: pointer;
  outline: none;
}
