.header {
  height: 15vh;
  min-height: 95px;
  background-color: #2c2f33;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #99aab5;
}

.titleWrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  font-size: 20px;
}

.searchWrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;
}

.search-box {
  outline: none;
  border: none;
  border-radius: 30px;
  height: 25px;
  width: 150px;
  padding-left: 15px;
  transition: 0.25s;
}

.search-box:focus {
  transition: 0.25s;
  width: 450px;
}

.search-btn {
  outline: none;
  background-color: #7289da;
  border: none;
  border-radius: 30px;
  height: 25px;
  width: 70px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #99aab5;
}
