.menupanel {
  height: 100vh;
  min-height: 650px;
  width: 240px;
  background-color: #23272a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo{
  max-width: 100px;
  margin-top: 15%;
}

#logoText{
  max-width: 50px;
}

.menupanelBottom{
  margin-bottom: 15%;
  color: #99aab5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mpUserName{
  margin-bottom: 20%;
}

.logout-btn{
  outline: none;
  background-color: #7289da;
  border: none;
  border-radius: 30px;
  height: 28px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #99aab5;
}
