.starredContent {
  background-color: #2c2f33;
  height: 250px;
  overflow-y: auto;
}

.starredContent {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.starredContent::-webkit-scrollbar {
  display: none;
}

.starredContent table {
  text-align: left;
  width: 93%;
  border-collapse: collapse;
  color: white;
  margin-left: 30px;
}

.starredContent th {
  padding: 25px 10px;
  font-size: 20px;
  color: #99aab5;
}

.starredContent td {
  padding: 25px 10px;
  cursor: pointer;
  position: relative;
}

.starredContent td:hover {
  color: #99aab5;
}

.starredContent tbody > tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.starredTitle {
  text-align: center;
  color:  #99aab5;
}
